$pinkColor: rgb(241, 109, 127);
$blackColor: rgb(34, 34, 36);

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", system-ui;
  font-style: normal;
  overflow-x: hidden;
}

.header {
  position: relative;
  height: 75px;
  background-color: $blackColor;
  display: flex;
  align-items: center;
  gap: 859px;
  justify-content: center;

  &__nav__left {
    display: flex;
    gap: 41px;
    align-items: baseline;


    &__link {
      path {
        transition: fill 0.3s ease;
      }

      &:hover {
        path {
          fill: $pinkColor;
        }
      }
    }
  }

  &__nav__right {
    display: flex;
    gap: 33px;
    align-items: baseline;

    &__svg {
      path {
        transition: fill 0.3s ease;
      }

      &:hover {
        path {
          fill: $pinkColor;
        }
      }
    }
  }

  &__menu {
    box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
    background: rgb(255, 255, 255);
    width: 232px;
    position: absolute;
    top: 75px;
    right: -232px;
    transition: right 0.5s;

    .header__title {
      padding: 37px 34px 24px;
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
    }

    .header__man {
      padding-left: 33px;

      &__subtitle {
        color: $pinkColor;
        font-size: 14px;
        font-weight: 400;
      }

      &__ul {
        padding: 12px 22px 20px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 11px;
      }

      &__link {
        text-decoration: none;
        color: rgb(111, 110, 110);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;

        &:hover {
          color: $pinkColor;
        }
      }
    }
  }
}

#checkbox {
  position: absolute;
  visibility: hidden;
}

#checkbox:checked~.header__menu {
  right: 0;
}

.main__info {
  display: flex;
  align-items: center;
  background: rgb(241, 228, 230);


  .main__information {
    border-left: $pinkColor 12px solid;
    margin-left: 92px;
  }

  &__title {
    font-size: 48px;
    font-weight: 900;
    padding-left: 16px;
  }

  &__text {
    font-size: 32px;
    font-weight: 700;
    padding-left: 16px;
  }

  &__span {
    font-size: 32px;
    font-weight: 700;
    color: $pinkColor;
  }
}

.proposals {
  display: flex;
  gap: 30px;
  margin-top: 65px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  &__women {
    position: relative;
  }

  &__title__women {
    position: absolute;
    top: 108px;
    left: 140px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }

  &__text__women {
    position: absolute;
    top: 130px;
    left: 100px;
    color: $pinkColor;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }

  &__men {
    position: relative;
  }

  &__title__men {
    position: absolute;
    top: 108px;
    left: 140px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }

  &__text__men {
    position: absolute;
    top: 130px;
    left: 123px;
    color: $pinkColor;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }

  &__kids {
    position: relative;
  }

  &__title__kids {
    position: absolute;
    top: 108px;
    left: 123px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }

  &__text__kids {
    position: absolute;
    top: 130px;
    left: 126px;
    color: $pinkColor;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }

  &__accesores {
    position: relative;
  }

  &__title__accesores {
    position: absolute;
    top: 65px;
    left: 490px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }

  &__text__accesores {
    position: absolute;
    top: 87px;
    left: 494px;
    color: $pinkColor;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }
}

.products {
  .products__container {
    position: relative;

    .products__img {
      display: block;
      width: 100%;
      transition: 0.5s ease;
    }

    .products__overlay {
      position: absolute;
      top: 188px;
      left: 111px;
      opacity: 0;
      transition: 0.5s ease;

      .products__cart {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &:hover {
      .products__img {
        filter: brightness(50%);
      }

      .products__overlay {
        opacity: 1;
      }
    }
  }

  &__title {
    color: $blackColor;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-top: 97px;
  }

  &__text {
    color: rgb(159, 159, 159);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 48px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    justify-content: center;
  }

  &__position {
    display: flex;
    margin-top: 50px;
    justify-content: center;
  }

  &__button {
    border: 1px solid $pinkColor;
    background-color: #fff;
    width: 212px;
    height: 48px;
    color: $pinkColor;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.5s ease;

    &:hover {
      border: 1px solid rgb(255, 106, 106);
      background: rgb(241, 109, 127);
      color: #fff;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

.products__items {
  background: rgb(248, 248, 248);

  &__info {
    margin-top: 23px;
    margin-right: 28px;
    margin-left: 16px;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 13px;
    font-weight: 400;
  }

  &__text {
    color: rgb(93, 93, 93);
    font-size: 14px;
    font-weight: 300;
    margin-top: 12px;
    margin-bottom: 18px;
  }

  &__price {
    color: $pinkColor;
    font-size: 16px;
    font-weight: 400;
  }
}

.feature {
  margin-top: 95px;
  padding-top: 103px;
  padding-bottom: 102px;
  background-color: rgb(34, 34, 36);
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  justify-content: center;
  align-content: center;
  align-items: baseline;
  gap: 30px;

  &__delivery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 18px;
  }

  &__machine__title {
    font-size: 19.96px;
    font-weight: 400;
  }

  &__machine__text {
    font-size: 13.97px;
    font-weight: 300;
    text-align: center;
  }
}

.footer {
  position: relative;

  &__img {
    display: flex;
    width: 100vw;
    height: 448px;
    object-fit: cover;
  }

  &__left {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 359.45px;
    height: 225px;
    left: 230.29px;
    right: 1010.26px;
    top: 97px;
    bottom: 126px;
    color: $blackColor;
    font-size: 20px;
    font-weight: 400;
    gap: 20px;

    &__span {
      font-style: italic;
      font-size: 20px;
      font-weight: 400;
    }
  }

  &__right {
    position: absolute;
    width: 557px;
    height: 142px;
    left: 813px;
    right: 230px;
    top: 150px;
    bottom: 156px;
    text-align: center;

    &__title {
      color: $blackColor;
      font-size: 24px;
      font-weight: 700;
    }

    &__text {
      margin-top: 5px;
      color: $blackColor;
      font-size: 18px;
      font-weight: 400;
    }

    &__input {
      position: relative;
      width: 210px;
      height: 50px;
      margin-top: 32px;
      margin-right: 97px;
      background: rgb(225, 225, 225);
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      border: none;
      padding-left: 22px;
      padding-right: 14px;
    }

    &__input:focus {
      outline: none;
    }

    &__button {
      position: absolute;
      top: 88px;
      right: 105px;
      border: none;
      background-color: $pinkColor;
      font-size: 14px;
      font-weight: 400;
      color: #fff;
      width: 100px;
      height: 49px;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    }

    &__button:hover {
      color: $pinkColor;
      background-color: #fff;
      border: 1px solid $pinkColor;
    }

    &__button:active {
      transform: scale(0.95);
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    height: 79px;
    background-color: rgb(34, 34, 36);
    color: #fff;
    gap: 655px;
    justify-content: center;

    &__text {
      width: 332px;
    }

    &__right {
      display: flex;
      gap: 7px;

      &__svg path.black-fill {
        fill: black;
        transition: fill 0.3s ease;
      }

      &__svg:hover path.black-fill {
        fill: #fff;
      }

      &__link {
        path {
          transition: fill 0.3s ease;
        }

        &:hover {
          path {
            fill: $pinkColor;
          }

          g path {
            fill: #fff;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .header {
    gap: 600px;
  }

  .header__menu {
    z-index: 1;
  }

  .header__nav__left {
    padding-left: 70px;
  }

  .main__img {
    width: 470px;
  }

  .proposals {
    gap: 22px;
  }

  .proposals__img {
    width: 30vw;
  }

  .proposals__title__women {
    top: 87px;
    left: 126px;
  }

  .proposals__text__women {
    top: 112px;
    left: 82px;
  }

  .proposals__title__men {
    top: 87px;
    left: 120px;
  }

  .proposals__text__men {
    top: 112px;
    left: 106px;
  }

  .proposals__title__kids {
    top: 87px;
    left: 100px;
  }

  .proposals__text__kids {
    top: 112px;
    left: 103px;
  }

  .proposals__accesores__img {
    width: 95vw;
  }

  .proposals__title__accesores {
    top: 53px;
    left: 410px;
  }

  .proposals__text__accesores {
    top: 76px;
    left: 416px;
  }

  .products__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .products__list {
    grid-template-columns: repeat(3, 30vw);
    gap: 15px;
  }

  .feature {
    grid-template-columns: repeat(3, 315px);
    gap: 10px;
  }

  .footer__img {
    min-height: 448px;
    object-fit: cover;
  }

  .footer__left {
    left: 68px;
    top: 123px;
  }

  .footer__right {
    left: 466px;
    top: 143px;
  }

  .footer__bottom {
    gap: 324px;
  }
}

@media (max-width: 768px) {
  .header {
    gap: 424px;
  }

  .header__menu {
    z-index: 1;
  }

  .header__nav__left {
    padding-left: 33px;
  }

  .main__img {
    width: 385px;
  }

  .main__info .main__information {
    margin-left: 40px;
  }

  .main__info__title {
    font-size: 44px;
  }

  .main__info__text {
    font-size: 24px;
  }

  .main__info__span {
    font-size: 24px;
  }

  .proposals {
    gap: 18px;
    margin-top: 20px;
  }

  .proposals__img {
    width: 30vw;
  }

  .proposals__title__women {
    top: 65px;
    left: 85px;
  }

  .proposals__text__women {
    top: 87px;
    left: 44px;
  }

  .proposals__title__men {
    top: 65px;
    left: 81px;
  }

  .proposals__text__men {
    top: 87px;
    left: 64px;
  }

  .proposals__title__kids {
    top: 65px;
    left: 63px;
  }

  .proposals__text__kids {
    top: 87px;
    left: 67px;
  }

  .proposals__title__accesores {
    top: 35px;
    left: 288px;
  }

  .proposals__text__accesores {
    top: 58px;
    left: 294px;
  }

  .products__title {
    margin-top: 154px;
  }

  .products__list {
    grid-template-columns: repeat(2, 360px);
    gap: 16px;
  }

  .products__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .feature {
    grid-template-columns: repeat(1, 320px);
    padding-top: 48px;
    padding-bottom: 68px;
  }

  .footer__img {
    min-height: 693px;
    object-fit: cover;
  }

  .footer__left {
    left: 200px;
    top: 106px;
  }

  .footer__right {
    left: 120px;
    top: 398px;
  }

  .footer__bottom {
    gap: 200px;
  }
}