* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", system-ui;
  font-style: normal;
  overflow-x: hidden;
}

.header {
  position: relative;
  height: 75px;
  background-color: rgb(34, 34, 36);
  display: flex;
  align-items: center;
  gap: 859px;
  justify-content: center;
}
.header #checkbox {
  position: absolute;
  visibility: hidden;
}
.header #checkbox:checked ~ .header__menu {
  right: 0;
}
.header__nav__left {
  display: flex;
  gap: 41px;
  align-items: baseline;
}
.header__nav__left__link path {
  transition: fill 0.3s ease;
}
.header__nav__left__link:hover path {
  fill: rgb(241, 109, 127);
}
.header__nav__right {
  display: flex;
  gap: 33px;
  align-items: baseline;
}
.header__nav__right__svg path {
  transition: fill 0.3s ease;
}
.header__nav__right__svg:hover path {
  fill: rgb(241, 109, 127);
}
.header__menu {
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  background: rgb(255, 255, 255);
  width: 232px;
  position: absolute;
  top: 75px;
  right: -232px;
  transition: right 0.5s;
  z-index: 10;
}
.header__menu .header__title {
  padding: 37px 34px 24px;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}
.header__menu .header__man {
  padding-left: 33px;
}
.header__menu .header__man__subtitle {
  color: rgb(241, 109, 127);
  font-size: 14px;
  font-weight: 400;
}
.header__menu .header__man__ul {
  padding: 12px 22px 20px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.header__menu .header__man__link {
  text-decoration: none;
  color: rgb(111, 110, 110);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.header__menu .header__man__link:hover {
  color: rgb(241, 109, 127);
}

.main__info {
  display: flex;
  align-items: center;
  background: rgb(241, 228, 230);
}
.main__information {
  border-left: rgb(241, 109, 127) 12px solid;
  margin-left: 92px;
}
.main__information__title {
  font-size: 48px;
  font-weight: 900;
  padding-left: 16px;
}
.main__information__text {
  font-size: 32px;
  font-weight: 700;
  padding-left: 16px;
}
.main__information__span {
  font-size: 32px;
  font-weight: 700;
  color: rgb(241, 109, 127);
}

.proposals {
  display: flex;
  gap: 30px;
  margin-top: 65px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.proposals__women {
  position: relative;
}
.proposals__title__women {
  position: absolute;
  top: 108px;
  left: 140px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.proposals__text__women {
  position: absolute;
  top: 130px;
  left: 100px;
  color: rgb(241, 109, 127);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.proposals__men {
  position: relative;
}
.proposals__title__men {
  position: absolute;
  top: 108px;
  left: 140px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.proposals__text__men {
  position: absolute;
  top: 130px;
  left: 123px;
  color: rgb(241, 109, 127);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.proposals__kids {
  position: relative;
}
.proposals__title__kids {
  position: absolute;
  top: 108px;
  left: 123px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.proposals__text__kids {
  position: absolute;
  top: 130px;
  left: 126px;
  color: rgb(241, 109, 127);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.proposals__accesores {
  position: relative;
}
.proposals__title__accesores {
  position: absolute;
  top: 65px;
  left: 490px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.proposals__text__accesores {
  position: absolute;
  top: 87px;
  left: 494px;
  color: rgb(241, 109, 127);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.products__container {
  position: relative;
}
.products__container .products__img {
  display: block;
  width: 100%;
  transition: 0.5s ease;
}
.products__container .products__overlay {
  position: absolute;
  top: 188px;
  left: 111px;
  opacity: 0;
  transition: 0.5s ease;
}
.products__container .products__overlay .products__cart {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.products__container:hover .products__img {
  filter: brightness(50%);
}
.products__container:hover .products__overlay {
  opacity: 1;
}
.products__items {
  background: rgb(248, 248, 248);
}
.products__items__info {
  margin-top: 23px;
  margin-right: 28px;
  margin-left: 16px;
  margin-bottom: 20px;
}
.products__items__title {
  font-size: 13px;
  font-weight: 400;
}
.products__items__text {
  color: rgb(93, 93, 93);
  font-size: 14px;
  font-weight: 300;
  margin-top: 12px;
  margin-bottom: 18px;
}
.products__items__price {
  color: rgb(241, 109, 127);
  font-size: 16px;
  font-weight: 400;
}
.products__title {
  color: rgb(34, 34, 36);
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-top: 97px;
}
.products__text {
  color: rgb(159, 159, 159);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 48px;
}
.products__list {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
  justify-content: center;
}
.products__position {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
.products__button {
  border: 1px solid rgb(241, 109, 127);
  background-color: #fff;
  width: 212px;
  height: 48px;
  color: rgb(241, 109, 127);
  font-size: 16px;
  font-weight: 400;
  transition: all 0.5s ease;
}
.products__button:hover {
  border: 1px solid rgb(255, 106, 106);
  background: rgb(241, 109, 127);
  color: #fff;
}
.products__button:active {
  transform: scale(0.95);
}

.feature {
  margin-top: 95px;
  padding-top: 103px;
  padding-bottom: 102px;
  background-color: rgb(34, 34, 36);
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  justify-content: center;
  align-content: center;
  align-items: baseline;
  gap: 30px;
}
.feature__delivery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 18px;
}
.feature__machine__title {
  font-size: 19.96px;
  font-weight: 400;
}
.feature__machine__text {
  font-size: 13.97px;
  font-weight: 300;
  text-align: center;
}

.footer {
  position: relative;
}
.footer__img {
  display: flex;
  width: 100vw;
  height: 448px;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer__left {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  width: 359.45px;
  height: 225px;
  left: 230.29px;
  right: 1010.26px;
  top: 97px;
  bottom: 126px;
  color: rgb(34, 34, 36);
  font-size: 20px;
  font-weight: 400;
  gap: 20px;
}
.footer__left__span {
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
}
.footer__right {
  position: absolute;
  width: 557px;
  height: 142px;
  left: 813px;
  right: 230px;
  top: 150px;
  bottom: 156px;
  text-align: center;
}
.footer__right__title {
  color: rgb(34, 34, 36);
  font-size: 24px;
  font-weight: 700;
}
.footer__right__text {
  margin-top: 5px;
  color: rgb(34, 34, 36);
  font-size: 18px;
  font-weight: 400;
}
.footer__right__input {
  position: relative;
  width: 210px;
  height: 50px;
  margin-top: 32px;
  margin-right: 97px;
  background: rgb(225, 225, 225);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: none;
  padding-left: 22px;
  padding-right: 14px;
}
.footer__right__input:focus {
  outline: none;
}
.footer__right__button {
  position: absolute;
  top: 88px;
  right: 105px;
  border: none;
  background-color: rgb(241, 109, 127);
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  width: 100px;
  height: 49px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.footer__right__button:hover {
  color: rgb(241, 109, 127);
  background-color: #fff;
  border: 1px solid rgb(241, 109, 127);
}
.footer__right__button:active {
  transform: scale(0.95);
}
.footer__bottom {
  display: flex;
  align-items: center;
  height: 79px;
  background-color: rgb(34, 34, 36);
  color: #fff;
  gap: 655px;
  justify-content: center;
}
.footer__bottom__text {
  width: 332px;
}
.footer__bottom__right {
  display: flex;
  gap: 7px;
}
.footer__bottom__right__svg path.black-fill {
  fill: black;
  transition: fill 0.3s ease;
}
.footer__bottom__right__svg:hover path.black-fill {
  fill: #fff;
}
.footer__bottom__right__link path {
  transition: fill 0.3s ease;
}
.footer__bottom__right__link:hover path {
  fill: rgb(241, 109, 127);
}
.footer__bottom__right__link:hover g path {
  fill: #fff;
}

@media (max-width: 1024px) {
  .header {
    gap: 600px;
  }
  .main__img {
    width: 470px;
  }
  .proposals {
    gap: 22px;
  }
  .proposals__img {
    width: 30vw;
  }
  .proposals__title__women {
    top: 87px;
    left: 126px;
  }
  .proposals__text__women {
    top: 112px;
    left: 82px;
  }
  .proposals__title__men {
    top: 87px;
    left: 120px;
  }
  .proposals__text__men {
    top: 112px;
    left: 106px;
  }
  .proposals__title__kids {
    top: 87px;
    left: 100px;
  }
  .proposals__text__kids {
    top: 112px;
    left: 103px;
  }
  .proposals__title__accesores {
    top: 53px;
    left: 410px;
  }
  .proposals__text__accesores {
    top: 76px;
    left: 416px;
  }
  .proposals .proposals__accesores__img {
    width: 967px;
  }
  .products__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .products__list {
    grid-template-columns: repeat(3, 30vw);
    gap: 15px;
  }
  .feature {
    grid-template-columns: repeat(3, 315px);
    gap: 10px;
  }
  .footer__img {
    min-height: 448px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .footer__left {
    left: 68px;
    top: 123px;
  }
  .footer__right {
    left: 466px;
    top: 143px;
  }
  .footer__bottom {
    gap: 324px;
  }
}
@media (max-width: 768px) {
  .header {
    gap: 424px;
  }
  .main__img {
    width: 385px;
  }
  .main__information {
    margin-left: 40px;
  }
  .main__information__title {
    font-size: 44px;
  }
  .main__information__text {
    font-size: 24px;
  }
  .main__information__span {
    font-size: 24px;
  }
  .proposals {
    gap: 18px;
    margin-top: 20px;
  }
  .proposals__img {
    width: 30vw;
  }
  .proposals__title__women {
    top: 65px;
    left: 85px;
  }
  .proposals__text__women {
    top: 87px;
    left: 44px;
  }
  .proposals__title__men {
    top: 65px;
    left: 81px;
  }
  .proposals__text__men {
    top: 87px;
    left: 64px;
  }
  .proposals__title__kids {
    top: 65px;
    left: 63px;
  }
  .proposals__text__kids {
    top: 87px;
    left: 67px;
  }
  .proposals__title__accesores {
    top: 35px;
    left: 288px;
  }
  .proposals__text__accesores {
    top: 58px;
    left: 294px;
  }
  .proposals .proposals__accesores__img {
    width: 728px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .products__title {
    margin-top: 154px;
  }
  .products__list {
    grid-template-columns: repeat(2, 360px);
    gap: 16px;
  }
  .products__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .feature {
    grid-template-columns: repeat(1, 320px);
    padding-top: 48px;
    padding-bottom: 68px;
    gap: 48px;
  }
  .footer__img {
    min-height: 693px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .footer__left {
    left: 200px;
    top: 106px;
  }
  .footer__right {
    left: 120px;
    top: 398px;
  }
  .footer__bottom {
    gap: 200px;
  }
}
@media (max-width: 426px) {
  .header {
    gap: 200px;
  }
  .header__nav__right__svg_link {
    display: none;
  }
  .main__img {
    display: none;
  }
  .main__info {
    height: 363px;
  }
  .main__information {
    margin-left: 56px;
  }
  .proposals {
    flex-direction: column;
    align-items: center;
  }
  .proposals__img {
    width: 343px;
  }
  .proposals__title__women {
    top: 98px;
    left: 134px;
  }
  .proposals__text__women {
    top: 118px;
    left: 90px;
  }
  .proposals__title__men {
    top: 98px;
    left: 134px;
  }
  .proposals__text__men {
    top: 118px;
    left: 117px;
  }
  .proposals__title__kids {
    top: 98px;
    left: 113px;
  }
  .proposals__text__kids {
    top: 118px;
    left: 117px;
  }
  .proposals__title__accesores {
    left: 91px;
  }
  .proposals__text__accesores {
    left: 97px;
  }
  .proposals .proposals__accesores__img {
    width: 343px;
    height: 111px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .products__title {
    margin-top: 64px;
  }
  .products__position {
    margin-top: 40px;
  }
  .products__list {
    grid-template-columns: repeat(1, 360px);
  }
  .feature {
    grid-template-columns: repeat(1, 347px);
  }
  .feature__machine__text {
    width: 300px;
  }
  .footer__img {
    min-height: 693px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .footer__left {
    left: 33px;
    top: 64px;
  }
  .footer__right {
    left: 40px;
    top: 317px;
    width: 348px;
  }
  .footer__right__input {
    width: 210px;
  }
  .footer__right__button {
    right: 0;
  }
  .footer__bottom {
    gap: 25px;
    flex-direction: column-reverse;
    padding-top: 43px;
    padding-bottom: 24px;
  }
  .footer__bottom__text {
    width: 246px;
  }
}
@media (max-width: 376px) {
  .products__description {
    width: 373px;
  }
  .products__info {
    height: 539px;
  }
  .footer__left {
    left: 16px;
  }
  .footer__right {
    left: 16px;
  }
}/*# sourceMappingURL=style.css.map */