$pinkColor: rgb(241, 109, 127);
$blackColor: rgb(34, 34, 36);

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", system-ui;
  font-style: normal;
  overflow-x: hidden;
}

.header {
  position: relative;
  height: 75px;
  background-color: $blackColor;
  display: flex;
  align-items: center;
  gap: 859px;
  justify-content: center;

  #checkbox {
    position: absolute;
    visibility: hidden;
  }

  #checkbox:checked~.header__menu {
    right: 0;
  }

  &__nav__left {
    display: flex;
    gap: 41px;
    align-items: baseline;

    &__link {
      path {
        transition: fill 0.3s ease;
      }

      &:hover {
        path {
          fill: $pinkColor;
        }
      }
    }
  }

  &__nav__right {
    display: flex;
    gap: 33px;
    align-items: baseline;

    &__svg {
      path {
        transition: fill 0.3s ease;
      }

      &:hover {
        path {
          fill: $pinkColor;
        }
      }
    }
  }

  &__menu {
    box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
    background: rgb(255, 255, 255);
    width: 232px;
    position: absolute;
    top: 75px;
    right: -232px;
    transition: right 0.5s;
    z-index: 10;

    .header__title {
      padding: 37px 34px 24px;
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
    }

    .header__man {
      padding-left: 33px;

      &__subtitle {
        color: $pinkColor;
        font-size: 14px;
        font-weight: 400;
      }

      &__ul {
        padding: 12px 22px 20px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 11px;
      }

      &__link {
        text-decoration: none;
        color: rgb(111, 110, 110);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;

        &:hover {
          color: $pinkColor;
        }
      }
    }
  }
}

.main__top {
  display: flex;
  align-items: center;
  height: 148px;
  background: rgb(248, 243, 244);

  &__title {
    color: $pinkColor;
    font-size: 24px;
    font-weight: 400;
    margin-left: 200px;
  }
}

.cart {
  display: flex;
  flex-direction: row;
  gap: 128px;

  &__product {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 94px 0 74px 230px;

    &__item {
      display: flex;
      width: 652px;
      box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13);
      position: relative;

      &__info {
        display: flex;
        flex-direction: column;
        padding: 22px 31px 62px;
      }

      &__title {
        padding-bottom: 42px;
        color: rgb(34, 34, 34);
        font-size: 24px;
        font-weight: 400;
        width: 210px;
      }

      &__price {
        font-size: 22px;
        font-weight: 400;
        color: rgb(87, 87, 87);

        &__span {
          color: $pinkColor;
        }
      }

      &__color {
        font-size: 22px;
        font-weight: 400;
        color: rgb(87, 87, 87);

        &__span {
          color: rgb(111, 110, 110);
        }
      }

      &__size {
        font-size: 22px;
        font-weight: 400;
        color: rgb(87, 87, 87);

        &__span {
          color: rgb(111, 110, 110);
        }
      }

      &__quantity {
        font-size: 22px;
        font-weight: 400;
        color: rgb(87, 87, 87);


        &__span {
          color: rgb(111, 110, 110);
        }
      }

      &__input {
        width: 44px;
        height: 25px;
        text-align: center;
        color: rgb(101, 101, 101);
        font-size: 18px;
        font-weight: 400;
        margin-left: 24px;
        border: 1px solid rgb(234, 234, 234);
      }

      &__button {
        border: none;
        background-color: #fff;
        position: absolute;
        top: 28px;
        right: 24px;

        &:active svg path {
          transform: scale(0.95);
          fill: $pinkColor;
        }
      }
    }

    &__button {
      display: flex;
      gap: 192px;

      &__clear {
        width: 235px;
        height: 50px;
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: 300;
        background: rgb(255, 255, 255);
        border: 1px solid rgb(164, 164, 164);
        transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;

        &:hover {
          background-color: $pinkColor;
          color: #fff;
          border: none;
        }

        &:active {
          transform: scale(0.98);
        }
      }

      &__continue {
        width: 235px;
        height: 50px;
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: 300;
        background: rgb(255, 255, 255);
        border: 1px solid rgb(164, 164, 164);
        transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;

        &:hover {
          background-color: $pinkColor;
          color: #fff;
          border: none;
        }

        &:active {
          transform: scale(0.98);
        }
      }
    }
  }

  &__info {
    margin-top: 94px;
    display: flex;
    flex-direction: column;
    gap: 57px;

    .shipping__address {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 360px;

      &__title {
        color: rgb(34, 34, 34);
        font-size: 16px;
        font-weight: 300;
      }

      &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__bangladesh {
          padding-left: 17px;
          font-size: 13px;
          font-weight: 300;
          width: 360px;
          height: 45px;
        }

        &__bangladesh::placeholder {
          color: rgb(177, 177, 177);
        }

        &__input {
          width: 360px;
          height: 45px;
          padding-left: 17px;
          font-size: 13px;
          font-weight: 300;
          color: rgb(34, 34, 34);
        }

        &__button {
          width: 100.39px;
          height: 34px;
          border: 1px solid rgb(164, 164, 164);
          background: rgb(255, 255, 255);
          color: rgb(74, 74, 74);
          font-size: 11px;
          font-weight: 300;
          transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;

          &:hover {
            background-color: $pinkColor;
            color: #fff;
            border: none;
          }

          &:active {
            transform: scale(0.98);
          }
        }
      }
    }

    .final__price {
      width: 360px;
      height: 214px;
      background: rgb(245, 243, 243);

      &__top {
        color: rgb(74, 74, 74);
        font-size: 11px;
        font-weight: 400;
        padding-top: 39px;
        padding-left: 218px;
        padding-right: 37px;
      }

      &__top__span {
        padding-left: 20px;
      }

      &__total {
        font-size: 16px;
        font-weight: 300;
        padding-top: 12px;
        padding-left: 153px;
        padding-right: 37px;
      }

      &__span {
        font-size: 16px;
        font-weight: 700;
        color: $pinkColor;
        padding-left: 20px;
      }

      &__line {
        background: rgb(226, 226, 226);
        width: 275px;
        margin-top: 21px;
        margin-left: 43px;
      }

      &__button {
        font-weight: 300;
        width: 273px;
        height: 50px;
        background: $pinkColor;
        color: rgb(255, 255, 255);
        font-size: 16px;
        border: none;
        margin-top: 17px;
        margin-left: 44px;
        transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;

        &:hover {
          color: $pinkColor;
          background-color: #fff;
          border: 1px solid $pinkColor;
        }

        &:active {
          transform: scale(0.98);
        }
      }
    }
  }
}

.footer {
  position: relative;

  &__img {
    display: flex;
    width: 100vw;
    height: 448px;
    object-fit: cover;
  }

  &__left {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 359.45px;
    height: 225px;
    left: 230.29px;
    right: 1010.26px;
    top: 97px;
    bottom: 126px;
    color: $blackColor;
    font-size: 20px;
    font-weight: 400;
    gap: 20px;

    &__span {
      font-style: italic;
      font-size: 20px;
      font-weight: 400;
    }
  }

  &__right {
    position: absolute;
    width: 557px;
    height: 142px;
    left: 813px;
    right: 230px;
    top: 150px;
    bottom: 156px;
    text-align: center;

    &__title {
      color: $blackColor;
      font-size: 24px;
      font-weight: 700;
    }

    &__text {
      margin-top: 5px;
      color: $blackColor;
      font-size: 18px;
      font-weight: 400;
    }

    &__input {
      position: relative;
      width: 210px;
      height: 50px;
      margin-top: 32px;
      margin-right: 97px;
      background: rgb(225, 225, 225);
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      border: none;
      padding-left: 22px;
      padding-right: 14px;
    }

    &__input:focus {
      outline: none;
    }

    &__button {
      position: absolute;
      top: 88px;
      right: 105px;
      border: none;
      background-color: $pinkColor;
      font-size: 14px;
      font-weight: 400;
      color: #fff;
      width: 100px;
      height: 49px;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    }

    &__button:hover {
      color: $pinkColor;
      background-color: #fff;
      border: 1px solid $pinkColor;
    }

    &__button:active {
      transform: scale(0.95);
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    height: 79px;
    background-color: rgb(34, 34, 36);
    color: #fff;
    gap: 655px;
    justify-content: center;

    &__text {
      width: 332px;
    }

    &__right {
      display: flex;
      gap: 7px;

      &__svg path.black-fill {
        fill: black;
        transition: fill 0.3s ease;
      }

      &__svg:hover path.black-fill {
        fill: #fff;
      }

      &__link {
        path {
          transition: fill 0.3s ease;
        }

        &:hover {
          path {
            fill: $pinkColor;
          }

          g path {
            fill: #fff;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .header {
    gap: 600px;
  }

  .main__top__title {
    margin-left: 80px;
  }

  .cart {
    flex-direction: column;
    gap: 0;

    &__product {
      margin: 94px 0 74px 185px;
    }

    &__info {
      flex-direction: row;
      gap: 15px;
      justify-content: center;
      margin-top: 60px;
      margin-bottom: 100px;

      .shipping__address__form__bangladesh {
        width: 340px;
      }

      .shipping__address__form__input {
        width: 340px;
      }

      .final__price {
        margin-top: 35px;
      }
    }
  }

  .footer {
    &__img {
      min-height: 448px;
      object-fit: cover;
    }

    &__left {
      left: 68px;
      top: 123px;
    }

    &__right {
      left: 466px;
      top: 143px;
    }

    &__bottom {
      gap: 324px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    gap: 424px;
  }

  .main__top__title {
    margin-left: 16px;
  }

  .cart {
    align-items: center;

    &__product {
      margin: 0;
      margin-top: 60px;

      &__item {
        width: 734px;
      }

      &__button {
        justify-content: center;
        gap: 48px;
      }
    }
  }

  .footer {
    &__img {
      min-height: 693px;
      object-fit: cover;
    }

    &__left {
      left: 200px;
      top: 106px;
    }

    &__right {
      left: 120px;
      top: 398px;
    }

    &__bottom {
      gap: 200px;
    }
  }
}

@media (max-width: 426px) {
  .header {
    gap: 200px;

    &__nav__right__svg_link {
      display: none;
    }
  }

  .main__top {
    justify-content: center;
  }

  .cart {
    &__product {
      width: 358px;

      &__item {
        width: 356px;

        &__img {
          width: 143px;
          height: 188px;
          object-fit: cover;
        }

        &__info {
          padding: 13px 53px 35px 17px;
        }

        &__title {
          font-size: 16px;
          padding-bottom: 25px;
          width: 141px;
        }

        &__input {
          width: 25px;
          height: 15px;
          margin-left: 15px;
          font-size: 10px;
        }

        &__button {
          top: 17px;
          right: 12px;

          & svg {
            width: 10px;
            height: 11px;
          }
        }

        &_size {
          font-size: 14px;
        }
      }

      &__button__continue {
        font-size: 12px;
      }

      &__button__clear {
        font-size: 12px;
      }
    }

    &__info {
      flex-direction: column;
    }
  }

  .footer {
    &__img {
      min-height: 693px;
      object-fit: cover;
    }

    &__left {
      left: 33px;
      top: 64px;
    }

    &__right {
      left: 40px;
      top: 317px;
      width: 348px;

      &__input {
        width: 210px;
      }

      &__button {
        right: 0;
      }
    }

    &__bottom {
      gap: 25px;
      flex-direction: column-reverse;
      padding-top: 43px;
      padding-bottom: 24px;

      &__text {
        width: 246px;
      }
    }
  }
}

@media (max-width: 376px) {
  .footer {
    &__left {
      left: 16px;
    }

    &__right {
      left: 16px;
    }
  }
}