$pinkColor: rgb(241, 109, 127);
$blackColor: rgb(34, 34, 36);

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", system-ui;
  font-style: normal;
  overflow-x: hidden;
}

.products {
  position: relative;

  &__info {
    position: relative;
    background: rgb(247, 247, 247);
    height: 777px;
    display: flex;
    justify-content: center;
    padding-top: 11px;

    &__img {
      height: 724px;
    }

    &__overlay {
      position: absolute;
      top: 188px;
      left: 111px;
      opacity: 0;
      transition: 0.5s ease;

      & .products__cart {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
      }

      .products__container:hover & {
        opacity: 1;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    justify-content: center;
    margin-top: 664px;
    margin-bottom: 128px;
  }

  &__items {
    background: rgb(248, 248, 248);

    &__info {
      margin-top: 23px;
      margin-right: 28px;
      margin-left: 16px;
      margin-bottom: 20px;
    }

    &__title {
      font-size: 13px;
      font-weight: 400;
    }

    &__text {
      color: rgb(93, 93, 93);
      font-size: 14px;
      font-weight: 300;
      margin-top: 12px;
      margin-bottom: 18px;
    }

    &__price {
      color: $pinkColor;
      font-size: 16px;
      font-weight: 400;
    }
  }

  .products__container {
    position: relative;

    & .products__img {
      display: block;
      width: 100%;
      transition: 0.5s ease;
    }

    &:hover .products__img {
      filter: brightness(50%);
    }
  }
}

@media (max-width: 1024px) {
  .products {
    &__description {
      width: 826px;
      left: 103px;
    }

    &__list {
      grid-template-columns: repeat(3, 320px);
      gap: 15px;
    }

    &__items {
      &__img {
        width: 320px;
      }
    }
  }
}

@media (max-width: 768px) {
  .products {
    &__description {
      width: 766px;
      left: 0;
    }

    &__list {
      grid-template-columns: repeat(2, 360px);
    }

    &__items {
      &__img {
        width: 360px;
      }

      &:nth-child(3) {
        display: none;
      }
    }
  }
}

@media (max-width: 426px) {
  .products {
    &__info {
      padding-top: 85px;
      height: 624px;

      &__img {
        height: 454px;
      }

      &__right {
        top: 263px;
      }

      &__left {
        top: 267px;
      }
    }

    &__description {
      position: static;
      width: 424px;

      &__text {
        width: 326px;
        margin-top: 32px;
      }

      &__line {
        margin-top: 32px;
        width: 175px;
      }

      &__summary {
        margin-top: 50px;
        font-size: 10px;
      }
    }

    &__list {
      grid-template-columns: repeat(1, 360px);
      gap: 0;
      margin-top: 64px;
      margin-bottom: 64px;
    }
  }
}

@media (max-width: 376px) {
  .products {
    &__description {
      width: 373px;
    }

    &__info {
      height: 539px;
    }
  }
}
