* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", system-ui;
  font-style: normal;
  overflow-x: hidden;
}

.products {
  position: relative;
}
.products__info {
  position: relative;
  background: rgb(247, 247, 247);
  height: 777px;
  display: flex;
  justify-content: center;
  padding-top: 11px;
}
.products__info__img {
  height: 724px;
}
.products__info__left {
  position: absolute;
  top: 365px;
  left: 0;
}
.products__info__left #Vector {
  transition: fill 0.3s ease;
}
.products__info__left:hover #Vector {
  fill: rgb(241, 109, 127);
}
.products__info__right {
  position: absolute;
  top: 360px;
  right: 0px;
  transform: rotate(180deg);
}
.products__info__right #Vector2 {
  transition: fill 0.3s ease;
}
.products__info__right:hover #Vector2 {
  fill: rgb(241, 109, 127);
}
.products__description {
  position: absolute;
  width: 1141px;
  height: 600px;
  top: 935px;
  left: 180px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(234, 234, 234);
}
.products__description__top__title {
  margin-top: 65px;
  color: rgb(241, 109, 127);
  font-size: 14px;
  font-weight: 300;
}
.products__description__line__top {
  width: 63px;
  height: 3.03px;
  background-color: rgb(241, 109, 127);
  border: none;
  margin-top: 12px;
}
.products__description__title {
  color: rgb(77, 77, 77);
  font-size: 18px;
  font-weight: 300;
  margin-top: 12px;
}
.products__description__text {
  color: rgb(94, 94, 94);
  font-size: 14px;
  font-weight: 300;
  margin-top: 49px;
  width: 548px;
  text-align: center;
}
.products__description__price {
  margin-top: 32px;
  color: rgb(241, 109, 127);
  font-size: 24px;
  font-weight: 300;
}
.products__description__line {
  margin-top: 65px;
  border: 1px solid rgb(241, 109, 127);
  width: 642px;
}
.products__description__filter {
  display: flex;
  gap: 23px;
  justify-content: center;
}
.products__description__summary {
  display: flex;
  align-items: center;
  gap: 9px;
  color: rgb(111, 110, 110);
  font-size: 14px;
  font-weight: 400;
  margin-top: 65px;
}
.products__description__add {
  transition: all 0.3s ease;
  margin-top: 49px;
}
.products__description__add:hover svg path {
  fill: #fff;
}
.products__description__button {
  width: 212px;
  height: 48.41px;
  border: 1px solid rgb(241, 109, 127);
  background-color: #fff;
  color: rgb(241, 109, 127);
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  transition: all 0.3s ease;
}
.products__description__button:hover {
  border: 1px solid rgb(255, 106, 106);
  background: rgb(241, 109, 127);
  color: #fff;
}
.products__description__button:active {
  transform: scale(0.95);
}
.products__list {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
  justify-content: center;
  margin-top: 664px;
  margin-bottom: 128px;
}
.products__items {
  background: rgb(248, 248, 248);
}
.products__items__info {
  margin-top: 23px;
  margin-right: 28px;
  margin-left: 16px;
  margin-bottom: 20px;
}
.products__items__title {
  font-size: 13px;
  font-weight: 400;
}
.products__items__text {
  color: rgb(93, 93, 93);
  font-size: 14px;
  font-weight: 300;
  margin-top: 12px;
  margin-bottom: 18px;
}
.products__items__price {
  color: rgb(241, 109, 127);
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .products__description {
    width: 826px;
    left: 103px;
  }
  .products__list {
    grid-template-columns: repeat(3, 320px);
    gap: 15px;
  }
  .products__items__img {
    width: 320px;
  }
}
@media (max-width: 768px) {
  .products__description {
    width: 766px;
    left: 0;
  }
  .products__list {
    grid-template-columns: repeat(2, 360px);
  }
  .products__items__img {
    width: 360px;
  }
  .products__items:nth-child(3) {
    display: none;
  }
}
@media (max-width: 426px) {
  .products__info {
    padding-top: 85px;
    height: 624px;
  }
  .products__info__img {
    height: 454px;
  }
  .products__info__right {
    top: 263px;
  }
  .products__info__left {
    top: 267px;
  }
  .products__description {
    position: static;
    width: 424px;
  }
  .products__description__text {
    width: 326px;
    margin-top: 32px;
  }
  .products__description__line {
    margin-top: 32px;
    width: 175px;
  }
  .products__description__summary {
    margin-top: 50px;
    font-size: 10px;
  }
  .products__list {
    grid-template-columns: repeat(1, 360px);
    gap: 0;
    margin-top: 64px;
    margin-bottom: 64px;
  }
}
@media (max-width: 376px) {
  .products__description {
    width: 373px;
  }
  .products__info {
    height: 539px;
  }
}/*# sourceMappingURL=style.css.map */