* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", system-ui;
  font-style: normal;
  overflow-x: hidden;
}

.header {
  position: relative;
  height: 75px;
  background-color: rgb(34, 34, 36);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 860px;
}
.header__nav__left {
  display: flex;
  gap: 41px;
  align-items: baseline;
}
.header__nav__right {
  display: flex;
  gap: 33px;
  align-items: baseline;
}

.header__menu {
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  background: rgb(255, 255, 255);
  width: 232px;
  position: absolute;
  top: 75px;
  right: -232px;
  transition: right 0.5s;
}

.header__title {
  padding: 37px 34px 24px;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

.header__man {
  padding-left: 33px;
}

.header__subtitle {
  color: rgb(241, 109, 127);
  font-size: 14px;
  font-weight: 400;
}

.header__ul {
  padding: 12px 22px 20px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.header__link {
  text-decoration: none;
  color: rgb(111, 110, 110);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

#checkbox {
  position: absolute;
  visibility: hidden;
}

#checkbox:checked ~ .header__menu {
  right: 0;
}

.main__top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 148px;
  background: rgb(248, 243, 244);
}
.main__top__title {
  padding-right: 755px;
  color: rgb(241, 109, 127);
  font-size: 24px;
  font-weight: 400;
}
.main__top__link {
  text-decoration: none;
  color: rgb(99, 99, 99);
  font-size: 14px;
  font-weight: 300;
  padding-right: 5px;
}
.main__top__color__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: rgb(241, 109, 127);
}

.main__filter {
  padding: 57px 583px 57px;
  position: relative;
}
.main__filter__extensive__details {
  position: absolute;
  top: 44px;
  left: 180px;
}
.main__filter__extensive__details[open] {
  color: rgb(241, 109, 127);
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  background: rgb(255, 255, 255);
  width: 370px;
}
.main__filter__extensive__details[open] path {
  fill: rgb(241, 109, 127);
}
.main__filter__extensive__summary {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
  padding-top: 13px;
  margin-left: 16px;
}
.main__filter__extensive__category {
  margin: 13px 17px 14px;
  font-size: 14px;
  font-weight: 400;
  width: 327px;
}
.main__filter__extensive__category__summary {
  display: flex;
  border-left: 5px solid;
  border-bottom: 1px solid rgb(235, 235, 235);
  padding: 8px 11px 12px;
}
.main__filter__extensive__category__text {
  padding: 24px 17px 10px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.main__filter__extensive__category__link {
  color: rgb(111, 110, 110);
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
.main__filter__sort {
  display: flex;
  align-items: center;
  gap: 28px;
  color: rgb(111, 110, 110);
  font-size: 14px;
  font-weight: 400;
}
.main__filter__sort__details {
  position: relative;
}
.main__filter__sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main__filter__sort__details__box {
  position: absolute;
  display: flex;
  flex-direction: column;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  padding: 7px 9px 11px;
  width: 79px;
  gap: 6px;
  top: 20px;
  left: -6px;
}
.main__filter__sort__details__lable {
  display: flex;
  gap: 10px;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
  justify-content: center;
}

.products__items {
  background: rgb(248, 248, 248);
}
.products__items__info {
  margin-top: 23px;
  margin-right: 28px;
  margin-left: 16px;
  margin-bottom: 20px;
}
.products__items__title {
  font-size: 13px;
  font-weight: 400;
}
.products__items__text {
  color: rgb(93, 93, 93);
  font-size: 14px;
  font-weight: 300;
  margin-top: 12px;
  margin-bottom: 18px;
}
.products__items__price {
  color: rgb(241, 109, 127);
  font-size: 16px;
  font-weight: 400;
}

.pagination__section {
  margin-left: 644px;
  margin-top: 48px;
  border: 1px solid rgb(235, 235, 235);
  width: 283px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.pagination__section__left {
  padding-right: 16px;
}
.pagination__section__link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  color: rgb(196, 196, 196);
}
.pagination__section__link:hover {
  color: rgb(241, 109, 127);
}
.pagination__section__right {
  padding-left: 16px;
}

.main__feature {
  margin-top: 95px;
  height: 341px;
  background-color: rgb(34, 34, 36);
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  justify-content: center;
  align-content: center;
  align-items: baseline;
  gap: 30px;
}
.main__feature__delivery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 18px;
}
.main__feature__machine__title {
  font-size: 19.96px;
  font-weight: 400;
}
.main__feature__machine__text {
  font-size: 13.97px;
  font-weight: 300;
  text-align: center;
}

.footer {
  position: relative;
}
.footer__img {
  width: 100%;
  display: flex;
}
.footer__left {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  width: 359.45px;
  height: 225px;
  left: 230.29px;
  right: 1010.26px;
  top: 97px;
  bottom: 126px;
  color: rgb(34, 34, 36);
  font-size: 20px;
  font-weight: 400;
  gap: 20px;
}
.footer__left__span {
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
}
.footer__right {
  position: absolute;
  width: 557px;
  height: 142px;
  left: 813px;
  right: 230px;
  top: 150px;
  bottom: 156px;
  text-align: center;
}
.footer__right__title {
  color: rgb(34, 34, 36);
  font-size: 24px;
  font-weight: 700;
}
.footer__right__text {
  margin-top: 5px;
  color: rgb(34, 34, 36);
  font-size: 18px;
  font-weight: 400;
}
.footer__right__input {
  position: relative;
  width: 210px;
  height: 50px;
  margin-top: 32px;
  margin-right: 97px;
  background: rgb(225, 225, 225);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: none;
  padding-left: 22px;
  padding-right: 14px;
}
.footer__right__input:focus {
  outline: none;
}
.footer__right__button {
  position: absolute;
  top: 88px;
  right: 105px;
  border: none;
  background-color: rgb(241, 109, 127);
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  width: 100px;
  height: 49px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.footer__right__button:active {
  transform: scale(0.95);
}
.footer__bottom {
  display: flex;
  align-items: center;
  height: 79px;
  background-color: rgb(34, 34, 36);
  color: #fff;
  gap: 655px;
  justify-content: center;
}
.footer__bottom__text {
  width: 332px;
}
.footer__bottom__right {
  display: flex;
  gap: 7px;
}
.footer__bottom__right__link {
  transition: all 0.5s ease;
}
.footer__bottom__right__link:hover {
  transform: scale(1.15);
}/*# sourceMappingURL=style.css.map */