$pinkColor: rgb(241, 109, 127);
$blackColor: rgb(34, 34, 36);

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", system-ui;
  font-style: normal;
  overflow-x: hidden;
}

.header {
  position: relative;
  height: 75px;
  background-color: $blackColor;
  display: flex;
  align-items: center;
  gap: 859px;
  justify-content: center;

  #checkbox {
    position: absolute;
    visibility: hidden;
  }

  #checkbox:checked~.header__menu {
    right: 0;
  }

  &__nav__left {
    display: flex;
    gap: 41px;
    align-items: baseline;


    &__link {
      path {
        transition: fill 0.3s ease;
      }

      &:hover {
        path {
          fill: $pinkColor;
        }
      }
    }
  }

  &__nav__right {
    display: flex;
    gap: 33px;
    align-items: baseline;

    &__svg {
      path {
        transition: fill 0.3s ease;
      }

      &:hover {
        path {
          fill: $pinkColor;
        }
      }
    }
  }

  &__menu {
    box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
    background: rgb(255, 255, 255);
    width: 232px;
    position: absolute;
    top: 75px;
    right: -232px;
    transition: right 0.5s;
    z-index: 10;

    .header__title {
      padding: 37px 34px 24px;
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
    }

    .header__man {
      padding-left: 33px;

      &__subtitle {
        color: $pinkColor;
        font-size: 14px;
        font-weight: 400;
      }

      &__ul {
        padding: 12px 22px 20px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 11px;
      }

      &__link {
        text-decoration: none;
        color: rgb(111, 110, 110);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;

        &:hover {
          color: $pinkColor;
        }
      }
    }
  }
}

.main {
  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 148px;
    background: rgb(248, 243, 244);
    gap: 710px;

    &__title {
      color: $pinkColor;
      font-size: 24px;
      font-weight: 400;
    }

    &__list {
      display: flex;
    }

    &__link {
      text-decoration: none;
      color: rgb(99, 99, 99);
      font-size: 14px;
      font-weight: 300;
      padding-right: 5px;

    }


    &__box:last-of-type &__link {
      text-decoration: none;
      font-size: 14px;
      font-weight: 700;
      color: rgb(241, 109, 127);
    }

    &__box:not(:last-child)::after {
      content: '/';
      padding-left: 8px;
      padding-right: 8px;
      color: rgb(99, 99, 99);
      font-size: 14px;
      font-weight: 300;
    }
  }

  &__filter {
    padding: 57px 570px 57px;
    position: relative;

    &__extensive {
      &__details {
        position: absolute;
        top: 44px;
        left: 177px;

        &[open] {
          color: $pinkColor;
          box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
          background: rgb(255, 255, 255);
          width: 370px;
        }

        &[open] path {
          fill: $pinkColor;
        }
      }

      &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 14px;
        font-weight: 600;
        padding-top: 13px;
        margin-left: 16px;

        &:hover {
          cursor: pointer;
        }

        &::before {
          content: "FILTER";
        }
      }

      &__category {
        margin: 13px 17px 14px;
        font-size: 14px;
        font-weight: 400;
        width: 327px;

        &__summary {
          display: flex;
          border-left: 5px solid;
          border-bottom: 1px solid rgb(235, 235, 235);
          padding: 8px 11px 12px;

          &:hover {
            cursor: pointer;
          }
        }

        &__text {
          padding: 24px 17px 10px;
          display: flex;
          flex-direction: column;
          gap: 11px;
        }

        &__link {
          color: rgb(111, 110, 110);
          font-size: 14px;
          font-weight: 400;
          text-decoration: none;
        }
      }
    }

    &__sort {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 28px;
      color: rgb(111, 110, 110);
      font-size: 14px;
      font-weight: 400;

      &__details {
        position: relative;
      }

      &__summary {
        display: flex;
        align-items: center;
        gap: 10px;

        &:hover {
          cursor: pointer;
        }
      }

      &__details__box {
        position: absolute;
        display: flex;
        flex-direction: column;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        background: rgb(255, 255, 255);
        box-sizing: border-box;
        padding: 7px 9px 11px;
        width: 79px;
        gap: 6px;
        top: 20px;
        left: -6px;
      }

      &__details__lable {
        display: flex;
        gap: 10px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &__feature {
    margin-top: 95px;
    padding-top: 103px;
    padding-bottom: 102px;
    background-color: rgb(34, 34, 36);
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
    align-content: center;
    align-items: baseline;
    gap: 30px;

    &__delivery {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      gap: 18px;
    }

    &__machine__title {
      font-size: 19.96px;
      font-weight: 400;
    }

    &__machine__text {
      font-size: 13.97px;
      font-weight: 300;
      text-align: center;
    }
  }
}

.products {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    justify-content: center;
  }

  &__items {
    background: rgb(248, 248, 248);

    &__info {
      margin-top: 23px;
      margin-right: 28px;
      margin-left: 16px;
      margin-bottom: 20px;
    }

    &__title {
      font-size: 13px;
      font-weight: 400;
    }

    &__text {
      color: rgb(93, 93, 93);
      font-size: 14px;
      font-weight: 300;
      margin-top: 12px;
      margin-bottom: 18px;
    }

    &__price {
      color: $pinkColor;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.pagination__section {
  margin-left: 616px;
  margin-top: 48px;
  border: 1px solid rgb(235, 235, 235);
  width: 283px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &__left {
    padding-right: 16px;
  }

  &__link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    color: rgb(196, 196, 196);
  }

  &__link:hover {
    color: $pinkColor;
  }

  &__right {
    padding-left: 16px;
  }

}

.footer {
  position: relative;

  &__img {
    display: flex;
    width: 100vw;
    height: 448px;
    object-fit: cover;
  }

  &__left {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 359.45px;
    height: 225px;
    left: 230.29px;
    right: 1010.26px;
    top: 97px;
    bottom: 126px;
    color: $blackColor;
    font-size: 20px;
    font-weight: 400;
    gap: 20px;

    &__span {
      font-style: italic;
      font-size: 20px;
      font-weight: 400;
    }
  }

  &__right {
    position: absolute;
    width: 557px;
    height: 142px;
    left: 813px;
    right: 230px;
    top: 150px;
    bottom: 156px;
    text-align: center;

    &__title {
      color: $blackColor;
      font-size: 24px;
      font-weight: 700;
    }

    &__text {
      margin-top: 5px;
      color: $blackColor;
      font-size: 18px;
      font-weight: 400;
    }

    &__input {
      position: relative;
      width: 210px;
      height: 50px;
      margin-top: 32px;
      margin-right: 97px;
      background: rgb(225, 225, 225);
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      border: none;
      padding-left: 22px;
      padding-right: 14px;
    }

    &__input:focus {
      outline: none;
    }

    &__button {
      position: absolute;
      top: 88px;
      right: 105px;
      border: none;
      background-color: $pinkColor;
      font-size: 14px;
      font-weight: 400;
      color: #fff;
      width: 100px;
      height: 49px;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    }

    &__button:hover {
      color: $pinkColor;
      background-color: #fff;
      border: 1px solid $pinkColor;
    }

    &__button:active {
      transform: scale(0.95);
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    height: 79px;
    background-color: rgb(34, 34, 36);
    color: #fff;
    gap: 655px;
    justify-content: center;

    &__text {
      width: 332px;
    }

    &__right {
      display: flex;
      gap: 7px;

      &__svg path.black-fill {
        fill: black;
        transition: fill 0.3s ease;
      }

      &__svg:hover path.black-fill {
        fill: #fff;
      }

      &__link {
        path {
          transition: fill 0.3s ease;
        }

        &:hover {
          path {
            fill: $pinkColor;
          }

          g path {
            fill: #fff;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .header {
    gap: 600px;
  }

  .main {
    &__top {
      gap: 455px;
    }

    &__filter {
      padding: 57px 0 63px 555px;

      &__extensive__details {
        left: 64px;
      }

      &__sort__summary_size {
        width: 132px;
      }
    }

    &__feature {
      grid-template-columns: repeat(3, 295px);
    }
  }

  .products {
    &__list {
      grid-template-columns: repeat(3, 277px);
      gap: 15px;
    }

    &__items {
      &__img {
        width: 277px;
      }
    }
  }

  .pagination__section {
    margin-left: 373px;
  }

  .footer {
    &__img {
      min-height: 448px;
      object-fit: cover;
    }

    &__left {
      left: 68px;
      top: 123px;
    }

    &__right {
      left: 466px;
      top: 143px;
    }

    &__bottom {
      gap: 324px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    gap: 424px;
  }

  .main {
    &__top {
      gap: 333px;
    }

    &__filter {
      padding: 57px 0 57px 426px;

      &__extensive__details {
        left: 0px;
      }
    }

    &__feature {
      grid-template-columns: repeat(1, 360px);
      gap: 48px;
    }
  }

  .products {
    &__list {
      grid-template-columns: repeat(2, 360px);
      gap: 16px;
    }

    &__items {
      &__img {
        width: 360px;
      }
    }
  }

  .pagination__section {
    margin-left: 253px;
  }

  .footer {
    &__img {
      min-height: 693px;
      object-fit: cover;
    }

    &__left {
      left: 200px;
      top: 106px;
    }

    &__right {
      left: 120px;
      top: 398px;
    }

    &__bottom {
      gap: 200px;
    }
  }
}

@media (max-width: 426px) {
  .header {
    gap: 200px;

    &__nav__right__svg_link {
      display: none;
    }
  }

  .main {
    &__top {
      gap: 32px;
      flex-direction: column;
    }

    &__filter {
      padding: 24px 8px 40px 157px;
      width: 260px;

      &__sort {
        font-size: 12px;
        gap: 15px;

        &__summary_size {
          width: 120px;
        }
      }

      &__extensive__summary {
        padding-top: 0px;
        margin-left: 8px;
      }

      &__extensive__summary::before {
        display: none;
      }

      &__extensive__summary svg {
        width: 38px;
        height: 25px;
      }

      &__extensive__details {
        left: 0px;
        top: 20px;
      }
    }
  }

  .products__list {
    grid-template-columns: repeat(1, 360px);
    gap: 36px;
  }

  .pagination__section {
    margin-left: 60px;
  }

  .footer {
    &__img {
      min-height: 693px;
      object-fit: cover;
    }

    &__left {
      left: 33px;
      top: 64px;
    }

    &__right {
      left: 40px;
      top: 317px;
      width: 348px;

      &__input {
        width: 210px;
      }

      &__button {
        right: 0;
      }
    }

    &__bottom {
      gap: 25px;
      flex-direction: column-reverse;
      padding-top: 43px;
      padding-bottom: 24px;

      &__text {
        width: 246px;
      }
    }
  }
}

@media (max-width: 376px) {

  .main__filter {
    padding: 24px 8px 40px 107px;
    width: 260px;
  }

  .pagination__section {
    margin-left: 45px;
  }

  .footer {
    &__left {
      left: 16px;
    }

    &__right {
      left: 16px;
    }
  }
}