$pinkColor: rgb(241, 109, 127);
$blackColor: rgb(34, 34, 36);

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", system-ui;
  font-style: normal;
  overflow-x: hidden;
}

.header {
  position: relative;
  height: 75px;
  background-color: $blackColor;
  display: flex;
  align-items: center;
  gap: 859px;
  justify-content: center;

  &__nav__left {
    display: flex;
    gap: 41px;
    align-items: baseline;


    &__link {
      path {
        transition: fill 0.3s ease;
      }

      &:hover {
        path {
          fill: $pinkColor;
        }
      }
    }
  }

  &__nav__right {
    display: flex;
    gap: 33px;
    align-items: baseline;

    &__svg {
      path {
        transition: fill 0.3s ease;
      }

      &:hover {
        path {
          fill: $pinkColor;
        }
      }
    }
  }

  &__menu {
    box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
    background: rgb(255, 255, 255);
    width: 232px;
    position: absolute;
    top: 75px;
    right: -232px;
    transition: right 0.5s;
    z-index: 10;

    .header__title {
      padding: 37px 34px 24px;
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
    }

    .header__man {
      padding-left: 33px;

      &__subtitle {
        color: $pinkColor;
        font-size: 14px;
        font-weight: 400;
      }

      &__ul {
        padding: 12px 22px 20px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 11px;
      }

      &__link {
        text-decoration: none;
        color: rgb(111, 110, 110);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;

        &:hover {
          color: $pinkColor;
        }
      }
    }
  }
}

#checkbox {
  position: absolute;
  visibility: hidden;
}

#checkbox:checked~.header__menu {
  right: 0;
  z-index: 1;
}

.main__top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 148px;
  background: rgb(248, 243, 244);
  gap: 710px;

  &__title {
    color: $pinkColor;
    font-size: 24px;
    font-weight: 400;
  }

  &__list {
    display: flex;
  }

  &__link {
    text-decoration: none;
    color: rgb(99, 99, 99);
    font-size: 14px;
    font-weight: 300;
    padding-right: 5px;
  }


  &__box:last-of-type &__link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: rgb(241, 109, 127);
  }

  &__box:not(:last-child)::after {
    content: '/';
    padding-left: 8px;
    padding-right: 8px;
    color: rgb(99, 99, 99);
    font-size: 14px;
    font-weight: 300;
  }
}

.products {
  position: relative;

  &__info {
    position: relative;
    background: rgb(247, 247, 247);
    height: 777px;
    display: flex;
    justify-content: center;
    padding-top: 11px;

    &__img {
      height: 724px;
    }

    &__left {
      position: absolute;
      top: 365px;
      left: 0;

      #Vector {
        transition: fill 0.3s ease;
      }

      &:hover #Vector {
        fill: $pinkColor;
      }
    }

    &__right {
      position: absolute;
      top: 280px;
      right: 100px;

      #Vector {
        transition: fill 0.3s ease;
      }

      &:hover #Vector {
        fill: $pinkColor;
      }
    }
  }

  &__description {
    position: absolute;
    width: 1141px;
    height: 600px;
    top: 712px;
    left: 180px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(234, 234, 234);

    &__top__title {
      margin-top: 65px;
      color: $pinkColor;
      font-size: 14px;
      font-weight: 300;
    }

    &__line__top {
      width: 63px;
      height: 3.03px;
      background-color: $pinkColor;
      border: none;
      margin-top: 12px;
    }

    &__title {
      color: rgb(77, 77, 77);
      font-size: 18px;
      font-weight: 300;
      margin-top: 12px;
    }

    &__text {
      color: rgb(94, 94, 94);
      font-size: 14px;
      font-weight: 300;
      margin-top: 49px;
      width: 548px;
      text-align: center;
    }

    &__price {
      margin-top: 32px;
      color: $pinkColor;
      font-size: 24px;
      font-weight: 300;
    }

    &__line {
      margin-top: 65px;
      border: 1px solid rgb(234, 234, 234);
      width: 642px;
    }

    &__filter {
      display: flex;
      gap: 23px;
      justify-content: center;
    }

    &__summary {
      display: flex;
      align-items: center;
      gap: 9px;
      color: rgb(111, 110, 110);
      font-size: 14px;
      font-weight: 400;
      margin-top: 65px;
    }

    &__add {
      transition: all 0.3s ease;

      &:hover svg path {
        fill: #fff;
      }

      margin-top: 49px;
    }

    &__button {
      width: 212px;
      height: 48.41px;
      border: 1px solid $pinkColor;
      background-color: #fff;
      color: $pinkColor;
      font-size: 16px;
      font-weight: 400;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      transition: all 0.3s ease;

      &:hover {
        border: 1px solid rgb(255, 106, 106);
        background: rgb(241, 109, 127);
        color: #fff;
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    justify-content: center;
    margin-top: 664px;
    margin-bottom: 128px;
  }

  &__items {
    background: rgb(248, 248, 248);

    &__info {
      margin-top: 23px;
      margin-right: 28px;
      margin-left: 16px;
      margin-bottom: 20px;
    }

    &__title {
      font-size: 13px;
      font-weight: 400;
    }

    &__text {
      color: rgb(93, 93, 93);
      font-size: 14px;
      font-weight: 300;
      margin-top: 12px;
      margin-bottom: 18px;
    }

    &__price {
      color: $pinkColor;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.footer {
  position: relative;

  &__img {
    display: flex;
    width: 100vw;
    height: 448px;
    object-fit: cover;
  }

  &__left {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 359.45px;
    height: 225px;
    left: 230.29px;
    right: 1010.26px;
    top: 97px;
    bottom: 126px;
    color: $blackColor;
    font-size: 20px;
    font-weight: 400;
    gap: 20px;

    &__span {
      font-style: italic;
      font-size: 20px;
      font-weight: 400;
    }
  }

  &__right {
    position: absolute;
    width: 557px;
    height: 142px;
    left: 813px;
    right: 230px;
    top: 150px;
    bottom: 156px;
    text-align: center;

    &__title {
      color: $blackColor;
      font-size: 24px;
      font-weight: 700;
    }

    &__text {
      margin-top: 5px;
      color: $blackColor;
      font-size: 18px;
      font-weight: 400;
    }

    &__input {
      position: relative;
      width: 210px;
      height: 50px;
      margin-top: 32px;
      margin-right: 97px;
      background: rgb(225, 225, 225);
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      border: none;
      padding-left: 22px;
      padding-right: 14px;
    }

    &__input:focus {
      outline: none;
    }

    &__button {
      position: absolute;
      top: 88px;
      right: 105px;
      border: none;
      background-color: $pinkColor;
      font-size: 14px;
      font-weight: 400;
      color: #fff;
      width: 100px;
      height: 49px;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    }

    &__button:hover {
      color: $pinkColor;
      background-color: #fff;
      border: 1px solid $pinkColor;
    }

    &__button:active {
      transform: scale(0.95);
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    height: 79px;
    background-color: rgb(34, 34, 36);
    color: #fff;
    gap: 655px;
    justify-content: center;

    &__text {
      width: 332px;
    }

    &__right {
      display: flex;
      gap: 7px;

      &__svg path.black-fill {
        fill: black;
        transition: fill 0.3s ease;
      }

      &__svg:hover path.black-fill {
        fill: #fff;
      }

      &__link {
        path {
          transition: fill 0.3s ease;
        }

        &:hover {
          path {
            fill: $pinkColor;
          }

          g path {
            fill: #fff;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .header {
    gap: 600px;
  }

  .main__top {
    gap: 455px;
  }

  .products__description {
    width: 826px;
    left: 103px;
  }

  .products__list {
    grid-template-columns: repeat(3, 320px);
    gap: 15px;
  }

  .products__items__img {
    width: 320px;
  }

  .main__feature {
    grid-template-columns: repeat(3, 318px);
    gap: 20px;
  }

  .footer__left {
    left: 68px;
    top: 123px;
  }

  .footer__right {
    left: 466px;
    top: 143px;
  }

  .footer__bottom {
    gap: 324px;
  }
}

@media (max-width: 768px) {
  .header {
    gap: 424px;
  }

  .main__top {
    gap: 333px;
  }

  .products__description {
    width: 766px;
    left: 0;
  }

  .products__items:nth-child(3) {
    display: none;
  }

  .products__list {
    grid-template-columns: repeat(2, 360px);
  }

  .products__items__img {
    width: 360px;
  }

  .footer__img {
    min-height: 693px;
  }

  .footer__left {
    left: 200px;
    top: 106px;
  }

  .footer__right {
    left: 120px;
    top: 398px;
  }

  .footer__bottom {
    gap: 200px;
  }
}