$pinkColor: rgb(241, 109, 127);
$blackColor: rgb(34, 34, 36);

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", system-ui;
  font-style: normal;
  overflow-x: hidden;
}

.main__product {
  padding-bottom: 128px;

}

.main {
  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 148px;
    background: rgb(248, 243, 244);
    gap: 710px;

    &__title {
      color: $pinkColor;
      font-size: 24px;
      font-weight: 400;
    }

    &__list {
      display: flex;
    }

    &__link {
      text-decoration: none;
      color: rgb(99, 99, 99);
      font-size: 14px;
      font-weight: 300;
      padding-right: 5px;

    }


    &__box:last-of-type &__link {
      text-decoration: none;
      font-size: 14px;
      font-weight: 700;
      color: rgb(241, 109, 127);
    }

    &__box:not(:last-child)::after {
      content: '/';
      padding-left: 8px;
      padding-right: 8px;
      color: rgb(99, 99, 99);
      font-size: 14px;
      font-weight: 300;
    }
  }

  &__filter {
    padding: 57px 570px 57px;
    position: relative;

    &__extensive {
      &__details {
        position: absolute;
        top: 44px;
        left: 177px;

        &[open] {
          color: $pinkColor;
          box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
          background: rgb(255, 255, 255);
          width: 370px;
          z-index: 100;
        }

        &[open] path {
          fill: $pinkColor;
        }
      }

      &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 14px;
        font-weight: 600;
        padding-top: 13px;
        margin-left: 16px;

        &:hover {
          cursor: pointer;
        }

        &::before {
          content: "FILTER";
        }
      }

      &__category {
        margin: 13px 17px 14px;
        font-size: 14px;
        font-weight: 400;
        width: 327px;

        &__summary {
          display: flex;
          border-left: 5px solid;
          border-bottom: 1px solid rgb(235, 235, 235);
          padding: 8px 11px 12px;

          &:hover {
            cursor: pointer;
          }
        }

        &__text {
          padding: 24px 17px 10px;
          display: flex;
          flex-direction: column;
          gap: 11px;
        }

        &__link {
          color: rgb(111, 110, 110);
          font-size: 14px;
          font-weight: 400;
          text-decoration: none;
        }
      }
    }

    &__sort {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 28px;
      color: rgb(111, 110, 110);
      font-size: 14px;
      font-weight: 400;

      &__details {
        position: relative;
      }

      &__summary {
        display: flex;
        align-items: center;
        gap: 10px;

        &:hover {
          cursor: pointer;
        }
      }

      &__details__box {
        position: absolute;
        display: flex;
        flex-direction: column;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        background: rgb(255, 255, 255);
        box-sizing: border-box;
        padding: 7px 9px 11px;
        width: 79px;
        gap: 6px;
        top: 20px;
        left: -6px;
        z-index: 100;
      }

      &__details__lable {
        display: flex;
        gap: 10px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &__feature {
    margin-top: 95px;
    padding-top: 103px;
    padding-bottom: 102px;
    background-color: rgb(34, 34, 36);
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
    align-content: center;
    align-items: baseline;
    gap: 30px;

    &__delivery {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      gap: 18px;
    }

    &__machine__title {
      font-size: 19.96px;
      font-weight: 400;
    }

    &__machine__text {
      font-size: 13.97px;
      font-weight: 300;
      text-align: center;
    }
  }
}

.products {
  &__lists {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    justify-content: center;
    margin-top: 0;
    transition: box-shadow 0.3s ease;

    .list__bottom {
      margin-bottom: 128px;
    }
  }

  &__items {
    background: rgb(248, 248, 248);
    position: relative;

    .products__items__img {
      display: block;
      width: 100%;
      transition: 0.5s ease;
    }

    .products__overlay {
      position: absolute;
      top: 188px;
      left: 111px;
      opacity: 0;
      transition: 0.5s ease;

      .products__cart {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &:hover {
      .products__items__img {
        filter: brightness(50%);
      }

      .products__overlay {
        opacity: 1;
      }
    }

    &__info {
      margin-top: 23px;
      margin-right: 28px;
      margin-left: 16px;
      margin-bottom: 20px;
    }

    &__title {
      font-size: 13px;
      font-weight: 400;
    }

    &__text {
      color: rgb(93, 93, 93);
      font-size: 14px;
      font-weight: 300;
      margin-top: 12px;
      margin-bottom: 18px;
    }

    &__price {
      color: $pinkColor;
      font-size: 16px;
      font-weight: 400;
    }

    &:hover {
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    }
  }
}

.pagination__section {
  margin-left: 616px;
  margin-top: 48px;
  border: 1px solid rgb(235, 235, 235);
  width: 283px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &__left {
    padding-right: 16px;
    background: none;
    border: none;
  }

  &__link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    color: rgb(196, 196, 196);
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;

    &:hover {
      color: $pinkColor;
    }

    &.active {
      color: $pinkColor;
    }

    &:hover:not(.active) {
      color: $blackColor;
    }
  }



  &__right {
    padding-left: 16px;
    background: none;
    border: none;
  }
}


@media (max-width: 1024px) {

  .main {
    &__top {
      gap: 455px;
    }

    &__filter {
      padding: 57px 0 63px 555px;

      &__extensive__details {
        left: 64px;
      }

      &__sort__summary_size {
        width: 132px;
      }
    }

    &__feature {
      grid-template-columns: repeat(3, 295px);
    }
  }

  .products {
    &__list {
      grid-template-columns: repeat(3, 277px);
      gap: 15px;
    }

    &__items {
      &__img {
        width: 277px;
      }
    }
  }

  .pagination__section {
    margin-left: 373px;
  }
}

@media (max-width: 768px) {

  .main {
    &__top {
      gap: 333px;
    }

    &__filter {
      padding: 57px 0 57px 426px;

      &__extensive__details {
        left: 0px;
      }
    }

    &__feature {
      grid-template-columns: repeat(1, 360px);
      gap: 48px;
    }
  }

  .products {
    &__list {
      grid-template-columns: repeat(2, 360px);
      gap: 16px;
    }

    &__items {
      &__img {
        width: 360px;
      }
    }
  }

  .pagination__section {
    margin-left: 253px;
  }
}

@media (max-width: 426px) {

  .main {
    &__top {
      gap: 32px;
      flex-direction: column;
    }

    &__filter {
      padding: 24px 8px 40px 157px;
      width: 260px;

      &__sort {
        font-size: 12px;
        gap: 15px;

        &__summary_size {
          width: 120px;
        }
      }

      &__extensive__summary {
        padding-top: 0px;
        margin-left: 8px;
      }

      &__extensive__summary::before {
        display: none;
      }

      &__extensive__summary svg {
        width: 38px;
        height: 25px;
      }

      &__extensive__details {
        left: 0px;
        top: 20px;
      }
    }
  }

  .products__list {
    grid-template-columns: repeat(1, 360px);
    gap: 36px;
  }

  .pagination__section {
    margin-left: 60px;
  }
}

@media (max-width: 376px) {

  .main__filter {
    padding: 24px 8px 40px 107px;
    width: 260px;
  }

  .pagination__section {
    margin-left: 45px;
  }
}