$pinkColor: rgb(241, 109, 127);
$blackColor: rgb(34, 34, 36);

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", system-ui;
  font-style: normal;
  overflow-x: hidden;
}

.header {
  position: relative;
  height: 75px;
  background-color: $blackColor;
  display: flex;
  align-items: center;
  gap: 859px;
  justify-content: center;


  #checkbox {
    position: absolute;
    visibility: hidden;
  }

  #checkbox:checked~.header__menu {
    right: 0;
  }

  &__nav__left {
    display: flex;
    gap: 41px;
    align-items: baseline;


    &__link {
      path {
        transition: fill 0.3s ease;
      }

      &:hover {
        path {
          fill: $pinkColor;
        }
      }
    }
  }

  &__nav__right {
    display: flex;
    gap: 33px;
    align-items: baseline;

    &__svg {
      position: relative;

      path {
        transition: fill 0.3s ease;
      }

      &:hover {
        path {
          fill: $pinkColor;
        }
      }

      .cart-quantity {
        position: absolute;
        top: -7px;
        right: -13px;
        background-color: $pinkColor;
        color: white;
        border-radius: 25px;
        padding: 2px 6px;
        font-size: 12px;
        font-weight: bold;
      }
    }
  }

  &__menu {
    box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
    background: rgb(255, 255, 255);
    width: 232px;
    position: absolute;
    top: 75px;
    right: -232px;
    transition: right 0.5s;
    z-index: 10;

    .header__title {
      padding: 37px 34px 24px;
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
    }

    .header__man {
      padding-left: 33px;

      &__subtitle {
        color: $pinkColor;
        font-size: 14px;
        font-weight: 400;
      }

      &__ul {
        padding: 12px 22px 20px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 11px;
      }

      &__link {
        text-decoration: none;
        color: rgb(111, 110, 110);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;

        &:hover {
          color: $pinkColor;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .header {
    gap: 600px;
  }
}

@media (max-width: 768px) {
  .header {
    gap: 424px;
  }
}

@media (max-width: 426px) {
  .header {
    gap: 200px;

    &__nav__right__svg_link {
      display: none;
    }
  }
}