* {
  padding: 0;
  margin: 0;
}

.photo-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.photo-img {
  max-height: 75vh;
  border-radius: 8px;
}

.like-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}