* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", system-ui;
  font-style: normal;
  overflow-x: hidden;
}

.main__top__cart {
  display: flex;
  align-items: center;
  height: 148px;
  background: rgb(248, 243, 244);
}
.main__top__cart__title {
  color: rgb(241, 109, 127);
  font-size: 24px;
  font-weight: 400;
  margin-left: 200px;
}

.cart {
  display: flex;
  flex-direction: row;
  gap: 128px;
  margin-bottom: 50px;
}
.cart__empty-message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 652px;
  margin-left: 230px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #555;
  text-align: center;
  margin-top: 94px;
  border: 2px dashed #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.cart__product {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 94px 0 74px 230px;
}
.cart__product__item {
  display: flex;
  width: 652px;
  box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13);
  position: relative;
}
.cart__product__item__img {
  width: 262px;
  height: 312px;
  -o-object-fit: cover;
  object-fit: cover;
}
.cart__product__item__info {
  display: flex;
  flex-direction: column;
  padding: 22px 31px 62px;
  gap: 5px;
}
.cart__product__item__title {
  padding-bottom: 42px;
  color: rgb(34, 34, 34);
  font-size: 24px;
  font-weight: 400;
  width: 210px;
}
.cart__product__item__price {
  font-size: 22px;
  font-weight: 400;
  color: rgb(87, 87, 87);
}
.cart__product__item__price__span {
  color: rgb(241, 109, 127);
}
.cart__product__item__color {
  font-size: 22px;
  font-weight: 400;
  color: rgb(87, 87, 87);
}
.cart__product__item__color__span {
  color: rgb(111, 110, 110);
}
.cart__product__item__size {
  font-size: 22px;
  font-weight: 400;
  color: rgb(87, 87, 87);
}
.cart__product__item__size__span {
  color: rgb(111, 110, 110);
}
.cart__product__item__quantity {
  font-size: 22px;
  font-weight: 400;
  color: rgb(87, 87, 87);
}
.cart__product__item__quantity__span {
  color: rgb(111, 110, 110);
}
.cart__product__item__input {
  width: 44px;
  height: 25px;
  text-align: center;
  color: rgb(101, 101, 101);
  font-size: 18px;
  font-weight: 400;
  margin-left: 24px;
  border: 1px solid rgb(234, 234, 234);
}
.cart__product__item__button {
  border: none;
  background-color: #fff;
  position: absolute;
  top: 28px;
  right: 24px;
}
.cart__product__item__button:active svg path {
  transform: scale(0.95);
  fill: rgb(241, 109, 127);
}
.cart__product__button {
  display: flex;
  gap: 184px;
}
.cart__product__button__clear {
  width: 235px;
  height: 50px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 300;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(164, 164, 164);
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.cart__product__button__clear:hover {
  background-color: rgb(241, 109, 127);
  color: #fff;
  border: none;
}
.cart__product__button__clear:active {
  transform: scale(0.98);
}
.cart__product__button__continue {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 235px;
  height: 50px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 500;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(164, 164, 164);
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.cart__product__button__continue:hover {
  background-color: rgb(241, 109, 127);
  color: #fff;
  border: none;
}
.cart__product__button__continue:active {
  transform: scale(0.98);
}
.cart__info {
  margin-top: 94px;
  display: flex;
  flex-direction: column;
  gap: 57px;
}
.cart__info .shipping__address {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 360px;
}
.cart__info .shipping__address__title {
  color: rgb(34, 34, 34);
  font-size: 16px;
  font-weight: 300;
}
.cart__info .shipping__address__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart__info .shipping__address__form__bangladesh {
  padding-left: 17px;
  font-size: 13px;
  font-weight: 300;
  width: 360px;
  height: 45px;
}
.cart__info .shipping__address__form__bangladesh::-moz-placeholder {
  color: rgb(177, 177, 177);
}
.cart__info .shipping__address__form__bangladesh::placeholder {
  color: rgb(177, 177, 177);
}
.cart__info .shipping__address__form__input {
  width: 360px;
  height: 45px;
  padding-left: 17px;
  font-size: 13px;
  font-weight: 300;
  color: rgb(34, 34, 34);
}
.cart__info .shipping__address__form__button {
  width: 100.39px;
  height: 34px;
  border: 1px solid rgb(164, 164, 164);
  background: rgb(255, 255, 255);
  color: rgb(74, 74, 74);
  font-size: 11px;
  font-weight: 300;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.cart__info .shipping__address__form__button:hover {
  background-color: rgb(241, 109, 127);
  color: #fff;
  border: none;
}
.cart__info .shipping__address__form__button:active {
  transform: scale(0.98);
}
.cart__info .final__price {
  width: 360px;
  height: 214px;
  background: rgb(245, 243, 243);
}
.cart__info .final__price__top {
  color: rgb(74, 74, 74);
  font-size: 11px;
  font-weight: 400;
  padding-top: 39px;
  padding-left: 196px;
  padding-right: 37px;
}
.cart__info .final__price__top__span {
  padding-left: 20px;
}
.cart__info .final__price__total {
  font-size: 16px;
  font-weight: 300;
  padding-top: 12px;
  padding-left: 142px;
  padding-right: 37px;
}
.cart__info .final__price__span {
  font-size: 16px;
  font-weight: 700;
  color: rgb(241, 109, 127);
  padding-left: 20px;
}
.cart__info .final__price__line {
  background: rgb(226, 226, 226);
  width: 275px;
  margin-top: 21px;
  margin-left: 43px;
}
.cart__info .final__price__button {
  font-weight: 300;
  width: 273px;
  height: 50px;
  background: rgb(241, 109, 127);
  color: rgb(255, 255, 255);
  font-size: 16px;
  border: none;
  margin-top: 17px;
  margin-left: 44px;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.cart__info .final__price__button:hover {
  color: rgb(241, 109, 127);
  background-color: #fff;
  border: 1px solid rgb(241, 109, 127);
}
.cart__info .final__price__button:active {
  transform: scale(0.98);
}

@media (max-width: 1024px) {
  .main__top__title {
    margin-left: 80px;
  }
  .cart {
    flex-direction: column;
    gap: 0;
  }
  .cart__product {
    margin: 94px 0 74px 185px;
  }
  .cart__info {
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 100px;
  }
  .cart__info .shipping__address__form__bangladesh {
    width: 340px;
  }
  .cart__info .shipping__address__form__input {
    width: 340px;
  }
  .cart__info .final__price {
    margin-top: 35px;
  }
}
@media (max-width: 768px) {
  .main__top__title {
    margin-left: 16px;
  }
  .cart {
    align-items: center;
  }
  .cart__product {
    margin: 0;
    margin-top: 60px;
  }
  .cart__product__item {
    width: 734px;
  }
  .cart__product__button {
    justify-content: center;
    gap: 48px;
  }
}
@media (max-width: 426px) {
  .main__top {
    justify-content: center;
  }
  .cart__product {
    width: 358px;
  }
  .cart__product__item {
    width: 356px;
  }
  .cart__product__item__img {
    width: 143px;
    height: 188px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .cart__product__item__info {
    padding: 13px 53px 35px 17px;
  }
  .cart__product__item__title {
    font-size: 16px;
    padding-bottom: 25px;
    width: 141px;
  }
  .cart__product__item__input {
    width: 25px;
    height: 15px;
    margin-left: 15px;
    font-size: 10px;
  }
  .cart__product__item__button {
    top: 17px;
    right: 12px;
  }
  .cart__product__item__button svg {
    width: 10px;
    height: 11px;
  }
  .cart__product__item_size {
    font-size: 14px;
  }
  .cart__product__button__continue {
    font-size: 12px;
  }
  .cart__product__button__clear {
    font-size: 12px;
  }
  .cart__info {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */